AutoBlock/arm/Makefile
AutoBlock/arm/Makefile.Debug
AutoBlock/arm/Makefile.Release
AutoBlock/config.pri
AutoBlockService/arm/Makefile
AutoBlockService/arm/Makefile.Debug
AutoBlockService/arm/Makefile.Release
AutoBlockService/config.pri
autoblocklib/arm/Makefile
autoblocklib/arm/Makefile.Debug
autoblocklib/arm/Makefile.Release
autoblocklib/config.pri
res/data_mining/*/*
res/bug_reports/*
res/triaged/*
test/*